{% extends 'security/security.html.twig' %}

{% block container %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_modifyUser', {'id': user.id}) }}">Modify</a>
        <a href="{{ path('admin_deleteUser', {'id': user.id}) }}">Delete</a>
    {% endif %}

    <section>
        <h1>User infos</h1>
        <p>Mail : {{ user.email }}</p>
        <p>Firstname : {{ user.firstname }}</p>
        <p>Lastname : {{ user.lastname }}</p>
        <p>Birthdate : {{ (user.birthdate) ? user.birthdate|date('d/m/Y') : '' }}</p>
    </section>

    <section>
        <h1>Videos</h1>
    </section>
{% endblock %}
